[user]
    email = github@gpiantoni.com
    name = Gio at UMCU

[alias]
    wdiff = diff --color-words -w --word-diff-regex="[^[:space:],]+|[,]+"
    tree = log --graph --pretty='%C(yellow)%t%Creset%x09%C(cyan)%ad%C(reset) %C(auto)%d%C(reset) %s' --date=local --all
    amend = commit -a --amend --no-edit

[core]
    excludesfile = ~/.gitignore_shared
    pager = less -S --shift 4
    editor = vim

[pull]
	ff = only

[push]
    default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[merge]
	commit = no
